// const customTheme = createTheme({
//   palette: {
//     primary: {
//       main: "theme.palette.primary.contrastText",
//       contrastText: "white",
//       border: "10px solid white",
//     },
//   },
// });

// const HeaderThemeComponent = styled("div")(({ theme }) => ({
//   color: theme.palette.primary.contrastText,
//   backgroundColor: theme.palette.primary.main,
//   textAlign: "center",
//   height: "75px",
//   borderBottom: "0.5px solid black",
//   boxShadow: "1px 1px 5px grey",
// }));

.header-style {
  color: white;
  background-color: #dbd4d3;
  text-align: center;
  height: 75px;
  border-bottom: 0.5px solid black;
  box-shadow: 1px 1px 5px grey;
}

.button-logo {
  height: 70px;
  width: 182px;
  background-color: transparent;
  border: 0;
  margin-top: 5px;
  cursor: pointer;
}

.logo-style {
  height: 55px;
  width: 70px;
  margin-top: 5px;
}
