.about-us-style {
  position: relative;
}

.card {
  margin: 40px auto auto auto;
  width: 80%;
  height: 500px;
  border: 2px solid black;
}

.title {
  text-align: center;
}

.content {
  max-width: 60%;
  margin: 30px auto auto auto;
}
