/* Hamburger Background */
.hamburger_nav-items {
    position: fixed; 
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    max-width: 400px;
    background-color: #757780;
    box-shadow: 2px 0px 5px;

    /* Index above the <HamburgerBlur /> */
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
}

.hamburger_nav-items ul {
    list-style: none;
    margin: 0px;
    padding: 0px;               /* Affects the content */
    height: 70%;                /* Affects the location of the items*/
    max-width: 400px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.hamburger_nav-items.open {
    transform: translateX(0%);
}

.hamburger_nav-items li {
    margin: 1rem 0rem;
}

.hamburger_nav-items a {
    text-decoration: none;
    font-size: 2.0rem;
    color: #000000;
}

.hamburger_nav-items a:hover,
.hamburger_nav-items a:active {
    color: orange;
}

.exit-btn {
    background-color: transparent;
    display: block;
    cursor: pointer;
    border: 0.5px;
}

.exit-btn img {
    filter: drop-shadow(3px 3px 3px #222);
}

.logo-img {
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

.logo-img img {
    height: 5em;
    width: 12.5em;
    filter: drop-shadow(3px 3px 3px #222);
}


