.grid-container {
  display: flex;
  margin-top: 20px;
}

.grid-one {
  padding-left: calc(25% - 178px);
  width: 50%;
  float: left;
}

.grid-two {
  padding-left: calc(25% - 178px);
  width: 50%;
  float: right;
}


.keyboard {
  position: fixed;
  bottom: 20px;
  width: 100%;
}